/* 카페 테마 설정 */
body { font-family: 'Pretendard', sans-serif; margin: 0; padding: 0; background-color: #DCF4F0; color: #000000; line-height: 1.6; }

/* 네비게이션: 커피 바 느낌 */
nav { background: #6BE6D0; padding: 15px; text-align: center; position: sticky; top: 0; z-index: 1000; display: flex; flex-wrap: wrap; justify-content: center; }
nav a { color: #505050; margin: 5px 15px; text-decoration: none; font-weight: bold; }
nav a:hover { color: #ffffff; }

/* 컨테이너 */
.container { width: 90%; max-width: 800px; margin: 2rem auto; padding: 2rem; background: rgb(255, 255, 255); border-radius: 20px; box-shadow: 0 10px 20px rgba(0,0,0,0.05); text-align: center; }

h1, h2 { color: #000000; text-align: center; }
img { width: 90%; border-radius: 15px; margin-bottom: 20px; }

/* 푸터 */
footer { text-align: center; padding: 1rem; font-size: 0.8rem; color: #6BE6D0; }